<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trading Service registration confirmation</title>
</head>
<body>
  <h1>Hello, {{ username }}. </h1>
  <p>We are glad to see you using our service.
  Please click on the link below to confirm your registration:</p>

  <a href="{{ activation_url }}">{{ activation_url }}</a>

  <p>If you didn't create account, just ignore this message.
  Have a good day!</p>
</body>
</html>
