<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trading Service registration confirmation</title>
</head>
<body>
  <h1>Hello, {{ user.username }}. </h1>
  <p>We are glad to see you using our service.
  To reset your password, follow the link below:</p>

  <a href="{{ confirm_url }}">{{ confirm_url }}</a>

  <p>If you didn't requested this message, just ignore it.
  Have a good day!</p>
</body>
</html>
